.Auth{
  background: #ff87d5;
  padding: 30px;
  border-radius: 20px;

  &__title{
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
  }

  &__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
  }


  &__input{
    border-radius: 20px;
    height: 40px;
    outline: none;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 800;
    width: 350px;
  }

  &__button{
    border: none;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    margin-top: 15px;
    cursor: pointer;
    font-weight: 800;
  }

  &__link{
    border: none;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    cursor: pointer;
    font-weight: 800;
    text-decoration: none;
    background: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
  }
}